/* 1024px total - 262px aside - 762px rightside = 0 */
a:link.viewAll, a:visited.viewAll{
	font-size: 12px;
	color: gray;
	text-decoration:none;
}
a:hover.viewAll, a:active.viewAll{
	font-size: 12px;
	color: #cc0000;
	text-decoration:underline;
}
#main_aside{ /*252px total*/
	width: 242px;
	margin-top: 5px;
	margin-bottom: 10px;
	margin-left: 10px;
	float:left;
}
#right_side{ /*772 total*/
	width: 761px;
	border-left: 1px solid #cccccc;	
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 10px;
	float:right;
}
.mainProfilePic{
	margin: 5px 0px; /*5px top and bottom*/
	width: 230px;
}
.friendThumbnails{
	margin: 5px 5px 0px 0px; /*top, right, bottom, left*/
	width: 75px;
}
.profileInfo{ /* Gender, JCC, etc... */
}

/***
* User Info Box like About, Education
*/
.info-box{
    
}
.info-box h3{
    color: #333333;
    font-family: Impact;
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-weight: normal;
}
.info-box h3 a.edit-info{
    font-size: 11px;
    font-weight: normal;
    font-family: Arial,Helvetica,sans-serif;
}
.info-box p label{
    font-weight: bold;
}
.info-box h3 .view-all{
    font-size: 11px;
    font-weight: normal;
    font-family: Arial,Helvetica,sans-serif;
}
.info-box h3 .view-all:hover{
    color: #cc0000;
}

.photos-box .photo{
    height: 150px;
    float: left;
    margin: 4px 4px 0 0;
}
#albums-nav{
    padding-bottom:5px; 
    width:752px; 
    text-align:right;
    border-bottom:1px solid #b9bdc1; 
    margin-bottom:5px;
}
